<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GeneratorKodów.Properties.Settings.TEST_CIAPOConnectionString"
            connectionString="Data Source=(local)\insertgt;Initial Catalog=TEST_CIAPO;Persist Security Info=True;User ID=sa;Password=adam"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>